<link rel="apple-touch-icon" sizes="180x180" href="/assets/site-icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/site-icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/site-icons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/site-icons/icon-192x192.png">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="description" content="フランソワ＝ルネ・ド・シャトーブリアン　墓の彼方からの回想　{{ page.title }}" />
<style>
  @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
  a {
      color: white !important;
  }
  html, body, .markdown-body, .markdown-body pre {
      font-size: 14px;
      color: white !important;
      background-color: black !important;
  }
  body {
      max-width: 1044px;
      margin: 0 auto;
      text-align: center;
  }
  .markdown-body {
      max-width: 1012px;
      margin-left: 16px;
      margin-right: 16px;
  }
  .markdown-body h1 {
      font-size: min(6vw, 1.5em);
      border-bottom-color: white !important;
  }
  .markdown-body p {
      text-align: left;
  }
  .markdown-body p.top {
      font-size: min(2.75vw, 14px);
      text-align: center;
  }
  .markdown-body p.sec {
      text-align: center;
      font-weight: bold;
  }
  .markdown-body p.title {
      text-align: center;
      padding-top: 16px;
  }
  .markdown-body p.separator {
      overflow: hidden;      
  }
  .markdown-body p.leader {
      position: relative;
      overflow: hidden;
  }
  .markdown-body p.leader::after {
      position: absolute;
      content: "・・・・・・・・・・・・・・"
               "・・・・・・・・・・・・・・"
               "・・・・・・・・・・・・・・"
               "・・・・・・・・・・・・・・"
               "・・・・・・・・・・・・・・";
  }
  .markdown-body pre {
      font-family: "Zen Old Mincho", serif;
  }
  .markdown-body code {
      background-color: inherit;
      font-size: inherit;
      padding: 0 0.2em;
  }
  .markdown-body ul {
      padding: 0;
      list-style: none;
      text-decoration: underline;
  }
</style>
